body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
  font-size: 150%;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /*16px = 100% = 1em */
  line-height: 2;
  /*
  margin: 0 auto;
  width: 10%;
  */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

.top-container {
  background-color: #E4F9F5;
  /* width: 200px;
  height: 200px;
  padding: 20px;
  border: solid 10px;
  margin: 10px; */
  position: relative;
  padding-top: 100px;
}

/* .middle-container {
  background-color: green;
  width: 200px;
  height: 200px;
  border: solid 20px;
  margin-left: 260px;
}

.bottom-container {
  background-color: blue;
  width: 200px;
  height: 200px;
  border: solid 10px;
  margin-left: 500px;
} */

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 30%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.urban-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/* .code-skill-description {
  clear: left;
}

.urban-skill-description {
  clear: right;
} */
